# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Spark
metastore_db/
spark-warehouse/

# Python virtual environments
venv/
.venv/
env/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Output data
data/output/

# Logs
*.log

# Raw datasets
data/raw/
data/raw.zip

# MySQL connector
mysql-connector-j-9.2.0.jar

# Spark output
data/output/

# Python cache
__pycache__/
*.pyc